<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grazy.mapper.FollowingGroupMapper">

    <select id="selectGroupById" resultType="com.grazy.domain.FollowingGroup">
        select * from t_following_group where id = #{id}
    </select>


    <select id="selectGroupByUserId" resultType="com.grazy.domain.FollowingGroup">
        select * from t_following_group where userId = #{currentUserId} or 'type' in (0,1,2)
    </select>

    <select id="selectGroupByType" resultType="com.grazy.domain.FollowingGroup">
        select * from t_following_group where type = #{groupType}
    </select>

    <insert id="insertFollowingGroup" useGeneratedKeys="true" keyProperty="id">
        insert into
            t_following_group(
            userId,
            name,
            type,
            createTime
        ) values (
            #{userId},
            #{name},
            #{type},
            #{createTime}
        )
    </insert>

</mapper>